<h1>{{ title }}</h1>

<div id="contenedor">
  <!-- Primitiva -->
  <fieldset class="Primitiva">
    <button (click)="calcularPrimitiva()">
      <img src="../assets/primitiva.jpg" alt="Primitiva" />
    </button>
    <div class="serie" (mouseenter)="ordenar(ordenarPrimi)" (mouseleave)="desordenar(desordenarPrimi)">
      <ol style="list-style-type:1">
        <li *ngFor="let num of myPrimiSerie"><b>{{num}}</b></li>
      </ol>
    </div>
    <div *ngIf="myPrimiComplementario">
      <p>Complementario: <b>{{myPrimiComplementario}}</b></p>
    </div>
    <div *ngIf="myPrimiReintegro[0] >= 0">
      <p>Reintegro: <b>{{myPrimiReintegro[0]}}</b></p>
    </div>
  </fieldset>

  <!-- Euromillones -->
  <fieldset>
    <button (click)="calcularEuromillones()">
      <img src="../assets/euromillones.jpg" alt="Euromillones" />
    </button>
    <div class="serie" (mouseenter)="ordenar(ordenarEuro)" (mouseleave)="desordenar(desordenarEuro)">
      <ol style="list-style-type:1">
        <li *ngFor="let num of myEuroSerie"><b>{{num}}</b></li>
      </ol>
    </div>
    <p *ngIf="myEuroEstrellas[0]">Estrellas:</p>
    <ol *ngIf="myEuroEstrellas[0]" style="list-style-type:none">
      <li *ngFor="let num of myEuroEstrellas"><b>{{num}}</b></li>
    </ol>
  </fieldset>

  <!-- Gordo Primitiva -->
  <fieldset>
    <button (click)="calcularGordoPrimitiva()">
      <img src="../assets/gordoPrimitiva.jpg" alt="Gordo Primitiva" />
    </button>
    <div class="serie" (mouseenter)="ordenar(ordenarGordo)" (mouseleave)="desordenar(desordenarGordo)">
      <ol style="list-style-type:1">
        <li *ngFor="let num of myGordoSerie"><b>{{num}}</b></li>
      </ol>
    </div>
    <div *ngIf="myGordoClaveSerie[0] >= 0">
      <p>Clave: <b>{{myGordoClaveSerie[0]}}</b></p>
    </div>
  </fieldset>

  <!-- Bono Loto -->
  <fieldset>
    <button (click)="calcularBonoLoto()">
      <img src="../assets/bonoloto.jpg" alt="Bono Loto" />
    </button>
    <div class="serie" (mouseenter)="ordenar(ordenarBonoLoto)" (mouseleave)="desordenar(desordenarBonoLoto)">
      <ol style="list-style-type:1">
        <li *ngFor="let num of myBonoLotoSerie"><b>{{num}}</b></li>
      </ol>
    </div>
    <div *ngIf="myBonoLotoComplementario">
      <p>Complementario: <b>{{myBonoLotoComplementario}}</b></p>
    </div>
    <div *ngIf="myBonoLotoReintegro[0] >= 0">
      <p>Reintegro: <b>{{myBonoLotoReintegro[0]}}</b></p>
    </div>
  </fieldset>
</div>

<app-serie-numerica></app-serie-numerica>
